/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
header,
footer,
aside,
nav,
article,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0;
}

img {
  display: block;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

a {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}

:root {
  /* Reset 1rem */
  font-size: 18px;
  /* Basic colors */
  --White: hsl(0, 0%, 100%);
  --black: #000000;
  /* Project colors primary */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsla(168, 34%, 41%, .8);
  /* Project colors neutral */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
}

/* Globals */
body {
  font-family: 'Barlow', sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  text-align: center;
  background: var(--White);
  color: var(--Very-dark-desaturated-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.ff-barlow-500 {
  font-family: 'Barlow', sans-serif;
}

.ff-fraunces {
  font-family: 'Fraunces', serif;
}

.mobile {
  display: none;
}

.desktop {
  visibility: visible;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.hero {
  height: 80vh;
  background-image: url("../images/mobile/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;
  position: relative;
}

.hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.hero .nav-menu {
  display: flex;
  gap: 1em;
}

.hero .nav-menu a {
  color: var(--White);
}

.hero .main-hero h1 {
  color: var(--White);
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.hero .main-hero #wrapper {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 1em;
}

.hero .main-hero #wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.hero .main-hero #scroll-down {
  display: block;
  position: relative;
  padding-top: 79px;
  text-align: center;
}

.hero .main-hero .arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
}

.hero .main-hero .arrow-down:after {
  content: '';
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 10px;
  height: 10px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  behavior: url(-ms-transform.htc);
  transform: rotate(135deg);
}

.hero .main-hero #scroll-down::before {
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -2px;
  width: 3px;
  height: 90px;
  background: var(--White);
  content: '';
}

@keyframes elasticus {
  0% {
    transform-origin: 0% 0%;
    transform: scale(1, 0);
  }
  50% {
    transform-origin: 0% 0%;
    transform: scale(1, 1);
  }
  50.1% {
    transform-origin: 0% 100%;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: 0% 100%;
    transform: scale(1, 0);
  }
}

.gallery .gall {
  padding: 2em 1em;
  height: 60vh;
  display: grid;
  place-content: center;
}

.gallery .gall h2 {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

.gallery .gall h3 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.gallery .gall p {
  color: var(--Dark-grayish-blue);
  margin-bottom: 1.5em;
}

.gallery .gall a {
  color: var(--Very-dark-desaturated-blue);
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  font-size: .8rem;
  font-weight: 900;
}

.gallery .gall-1 {
  height: 40vh;
  background-image: url("../images/mobile/image-transform.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .gall-3 {
  height: 40vh;
  background-image: url("../images/mobile/image-stand-out.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .gall-5 {
  height: 70vh;
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.gallery .gall-5 .contain-gall {
  position: absolute;
  bottom: 2em;
  left: 1em;
  right: 1em;
  margin-left: auto;
  margin-right: auto;
}

.gallery .gall-5 .contain-gall h3,
.gallery .gall-5 .contain-gall p {
  color: var(--Dark-desaturated-cyan);
}

.gallery .gall-6 {
  height: 70vh;
  background-image: url("../images/mobile/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.gallery .gall-6 .contain-gall {
  position: absolute;
  bottom: 2em;
  left: 1em;
  right: 1em;
  margin-left: auto;
  margin-right: auto;
}

.gallery .gall-6 .contain-gall h3,
.gallery .gall-6 .contain-gall p {
  color: var(--Dark-blue);
}

.testimonials {
  padding-top: 4em;
}

.testimonials h4 {
  color: var(--Dark-grayish-blue);
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.testimonials .container-testi {
  margin-top: 3em;
}

.testimonials .container-testi .testi {
  margin-bottom: 4em;
}

.testimonials .container-testi .testi img {
  border-radius: 50%;
  width: 30vw;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.testimonials .container-testi .testi blockquote {
  margin-bottom: 1.5em;
  color: var(--Very-dark-grayish-blue);
}

.testimonials .container-testi .testi p {
  font-size: .8rem;
  color: var(--Dark-grayish-blue);
  margin-top: .4rem;
}

.img-small {
  display: flex;
  flex-wrap: wrap;
}

.img-small img {
  width: 50vw;
}

footer {
  background: var(--Dark-moderate-cyan);
  padding: 3em 0;
}

footer .container .logo-footer {
  margin: 0 auto;
  margin-bottom: 1.5em;
}

footer .container nav {
  margin-bottom: 3em;
}

footer .container nav ul {
  display: flex;
  justify-content: space-evenly;
}

footer .container nav ul li a {
  color: var(--Dark-desaturated-cyan);
}

footer .container .socials {
  display: flex;
  justify-content: center;
  gap: 1em;
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 5em;
    left: -100%;
    flex-direction: column;
    background-color: #fff;
    padding: 3em 0;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 5vw;
    width: 90vw;
    z-index: 99;
  }
  .nav-menu.active .nav-item .nav-link {
    color: var(--Dark-grayish-blue);
  }
  .nav-menu.active .nav-item .contact {
    background: var(--Yellow);
    padding: 1rem;
    border-radius: 30px;
    align-items: center;
    text-transform: uppercase;
    color: var(--Very-dark-grayish-blue);
    font-family: 'Fraunces', serif;
    font-size: .8rem;
  }
  .nav-item {
    margin: .2rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}

@media (min-width: 801px) {
  .hero {
    height: 100vh;
    background-image: url("../images/desktop/image-header.jpg");
  }
  .hero header {
    margin-top: .5em;
  }
  .hero header .contact {
    background: var(--White);
    padding: .8rem 1.5rem;
    border-radius: 30px;
    align-items: center;
    text-transform: uppercase;
    color: var(--Very-dark-grayish-blue);
    font-family: 'Fraunces', serif;
    font-size: .8rem;
  }
  .hero header .contact:hover {
    background: rgba(255, 255, 255, 0.3);
    color: var(--White);
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  .gallery .gall {
    flex: 1;
    height: 80vh;
    min-width: 50%;
    aspect-ratio: 1/1;
  }
  .gallery .gall-1 {
    background-image: url("../images/desktop/image-transform.jpg");
    order: 2;
  }
  .gallery .gall-2 {
    order: 1;
  }
  .gallery .gall-3,
  .gallery .gall-4 {
    order: 2;
  }
  .gallery .gall-5,
  .gallery .gall-6 {
    order: 3;
  }
  .gallery .gall-2,
  .gallery .gall-4 {
    text-align: left;
    padding: 4em;
  }
  .gallery .gall-5 .contain-gall,
  .gallery .gall-6 .contain-gall {
    width: 70%;
    bottom: 1em;
  }
  .gallery .gall-3 {
    background-image: url("../images/desktop/image-stand-out.jpg");
  }
  .gallery .gall-5 {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
  .gallery .gall-6 {
    background-image: url("../images/desktop/image-photography.jpg");
  }
  .testimonials {
    padding: 6em 0;
  }
  .testimonials .container-testi {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .testimonials .container-testi .testi img {
    width: 8vw;
  }
  .testimonials .container-testi .testi blockquote {
    margin-bottom: 2.5em;
  }
  .img-small {
    display: flex;
    flex-wrap: nowrap;
  }
  .img-small img {
    width: calc(100%/4);
  }
  footer .container {
    width: 30%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */